.faq_container{
    text-align: center;
  }
  
 
  .q-a{
    position: relative;
    z-index: 2 !important;
    background-color: #F0F4F8;
    min-height: 30vh;
    padding-top: 30px;
    height: auto;
   
    h3{
    color:#ffffff !important;
    
  }}
  .accordion__section {
    display: flex;
    flex-direction: column;
  
  
  
  
  }
  
  .accordion {
   background-color: #D9E2EC;
   // background:linear-gradient(180deg,#181818,transparent 100%);
    color: #243B53;
    cursor: pointer;
    //border-color:  #E5E5E7 ;
    padding: 20px;
    display: flex;
    align-items: center;
    margin:0 auto;
    width:80%;
    justify-content: center;
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-left: none;
    outline: none;
    text-align: left;
    transition: background-color 0.6s ease;
  
  }
  
  .accordion:hover
   {
     //color:#ffffff;
    background-color: #01B140 !important;
  }
  
  .accordion__title {
    font-style: italic;
    font-weight: 550;
    font-size: 16px;
    align-items: center;
    justify-content: center;
  }
  
  .accordion__icon {
    margin-left: auto;
    transition: transform 0.6s ease;
  }
  
  .rotate {
    transform: rotate(90deg);
  }
  
  .accordion__content {
    background-color: #F7F7F8;
    overflow: hidden;
    transition: max-height 0.6 ease;
  }
  
  .accordion__text {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding: 18px;
  }
  .faq-link{
    //margin-left: 60px;
    transition:all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
          -ms-transition: all 0.3s ease-in;
          transition: all 0.3s ease-in;
        
  }
  .faq-link:hover {
    transform: scale(1.1);
    transition-duration: .2s;
    //font-family: 'Permanent Marker', cursive !important;
    padding-right:60px !important;
    a{
      color: #DB4060 !important;
    }
  }
  .bye_wrapper{
    background-color: rgb(255, 210, 25);;
   // border: solid 3px #000000;
   box-shadow: 1px 3px 7px 2px rgba(57, 63, 72, 0.3);
   display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
   height: 150px;
    margin: 0 90px;
    border-radius: 20px;
    //margin-bottom: -100px;
    z-index: 99;
   
}