
   // display: flex;


 

.admin_section{
    height: auto;
    position: relative;
    width: 100%;
    background-color: #F0F4F8;
    z-index: 999;
}
.order_table{
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
}
.data_name{
  display:flex;
  flex-direction: column;
}
.data_number{
  display:flex;
  flex-direction: column;
}
.admin_data{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
 // margin: 0 30px;;
}
.admin_email{
  display: flex;
  flex-direction: column;

}