
   // display: flex;


 

.admin_section{
    height: auto;
    position: relative;
    width: 100%;
    background-color: #D9E2EC;
    z-index: 999;
}
.order_table{
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
    justify-content: center;
   
    p{
      font-size: 16px;
      color:#334E68;
    }
    h3{
      font-size: 16px;
      font-weight: 500;
      color:#102A43;
    }
}
.data_name{
  display:flex;
  flex-direction: column;
}
.data_number{
  display:flex;
  flex-direction: column;
}
.admin_data{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
 
 // margin: 0 30px;;
}
.admin_email{
  display: flex;
  flex-direction: column;

}
.admin_page{
  background-color: #D9E2EC;

}
.pricetest_box{
  height: auto;
  background-color: #F0F4F8;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 60px 90px;
  border-radius: 10px;

}
.data_street{
  padding-bottom: 12px;
}
