
.ads_section{
  background-color: #F7F7F8;
    position: relative;
    z-index: 2;
   height: auto;
   .aws-btn {
    --button-default-height: 65px;
    --button-default-font-size: 20px;
    --button-default-border-radius: 10px;
    --button-horizontal-padding: 20px;
    --button-raise-level: 6px;
    --button-hover-pressure: 1.2;
    --transform-speed: 0.185s;
    --button-primary-color: #3B13A8;
    --button-primary-color-dark: #181818;
    --button-primary-color-light: #fbfbfb;
    --button-primary-color-hover: #2d2d2d;
    --button-primary-color-active: #212121;
    --button-primary-border: 2.5px solid transparent;
    --button-secondary-color: #fbfbfb;
    --button-secondary-color-dark: #3a3a3a;
    --button-secondary-color-light: #3a3a3a;
    --button-secondary-color-hover: #eeeeee;
    --button-secondary-color-active: #e2e2e2;
    --button-secondary-border: 2px solid #3a3a3a;
    --button-anchor-color: #ffe727;
    --button-anchor-color-dark: #212121;
    --button-anchor-color-light: #97735d;
    --button-anchor-color-hover: #ffe727;
    --button-anchor-color-active: #ffe727;
    --button-anchor-border: 2px solid #876753;
    --button-danger-color: #733086;
    --button-danger-color-dark: #431c4e;
    --button-danger-color-light: #77cd38;
    --button-danger-color-hover: #6d2d7e;
    --button-danger-color-active: #632973;
    --button-danger-border: none;
  }
 
}
.all_ads{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ads_one{
  height: 60vh;
  width: 100%;
display: flex;
  background-color:#009B4E;
  background-image: url(/images/ads_one.png); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  //border: solid 3px #000 ;
  box-shadow: 1px 3px 7px 2px rgba(57, 63, 72, 0.3);
}
.ads_one_background{

}
.ads_two{
  height: 60vh;
  width: 100%;
  //border: solid 3px #000 ;
  //box-shadow: 10px 10px 0 #000;
  box-shadow: 1px 3px 7px 2px rgba(57, 63, 72, 0.3);
  display: flex;
    background-image: url(/images/ads_two.png);
    background-size: cover;
    background-repeat: no-repeat;
  background-position: center;

}
.ads_two_button{
  position: absolute;
  top: 75%;
  right: 50%;
}
