.section-wrapper{
    background-color: #F7F7F8;
    position: relative;
    padding-top: 100px;
    height:200vh;
}
.all_products_section{
  
}
.products-box{
    border: 2px solid #000000;
    img{
        width:50%;
    }
}