
* {
    color: inherit;
    margin: 0;
  }
  
  body {
    font-family: futura-pt, sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    background-color: #292929;
    overflow: hidden;
  }

  html {
    margin: 0 !important;
    overflow: auto !important;
}
  
  ul {
    padding: 0;
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
  }
  
  hr {
    border: 0;
    border-top: 1px dotted #efefef;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  p{
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-size: 18px;
  }
  h1{
    font-family: futura-pt, sans-serif;

  }
  h2{
    font-family: futura-pt, sans-serif;

  }
  h3{
    font-family: futura-pt, sans-serif;

  }
  h4{
    font-family: futura-pt, sans-serif;

  }
