.bye_banner_section{
    height:30vh;
    position: relative;
    background-color: #F0F4F8;
    display: flex;
    align-items: center;
    padding-top: 20px;
    z-index: 3;

    flex-direction: row;
    justify-content: space-around;

    .aws-btn {
        --button-default-height: 55px;
       // --button-default-font-size: 24px;
        --button-default-border-radius: 10px;
        --button-horizontal-padding: 25px;
        --button-raise-level: 6px;
        --button-hover-pressure: 1.25;
        --transform-speed: 0.15s;
        --button-primary-color: #3B13A8;
        --button-primary-color-dark: #181818;
        --button-primary-color-light: #000000;
        --button-primary-color-hover: #009b4e;
        --button-primary-color-active: #009b4e;
        --button-primary-border: 3px solid transparent;
    }
    h3{
        font-size: 18px;
        color:#fff;
        font-style: italic;
    }
}
.bye_banner_wrap{

    h1{
        font-size: 32px;
    }
}
