.category_section{
    position: relative;
    height: auto;
    //padding-top: 30px;
   padding-bottom:60px;
   background-color: #F0F4F8;
    z-index: 2;
    h1{
        font-style: italic;
        text-align: center;
        padding:30px;
        font-size: 24px;
        color:#102A43;
    }
    h3{
        font-size: 16px;
        font-weight: 550;
        white-space: nowrap;

        color: 
        #102A43 !important;
    }
    .swiper {
        width: 100%;
        height: auto;
        
      }
      
      .swiper-slide {
        width: 300px !important;
        // height: 300px;
         //border: solid 5px #000000;
         background-color: #ffffff;
         border-radius: 10px;
         box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;

         
        /* Center slide text vertically */
      }
      
      .swiper-slide img {
        display: block;
        width: 40%;
        height: auto;
    
      }
      
    
}
.radio_group_icons{
    flex-direction: row  !important;
    display: flex;
    flex-wrap: wrap;
    
  
}
.category_list{
    height: auto;
    //padding-top: 60px;
    display: flex;
    //flex-direction: row;
    justify-content: center;
    
   // width:83%;
    margin: 0 80px;
    padding-bottom: 40px;
    h3{
        color: #000;
        //margin-top: 15px;
        font-style: italic;
       // font-size: 28px;
    }

}
.products-box2{
   
    height: auto;
    border-radius: 5px;
    //margin:10px;

    img{
        width:50%;
    }
}
.cat_swiper{
    margin:0 88px;
    padding: 10px 0;
   // box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}
.cat_button{
    display:'flex';
    margin: 12px 20px;
    height: 60px;
    min-width: 120px;
    border-radius: 10px;
    background-color: #D9E2EC;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border: none;

    h3{
        font-size: 16px;
        font-weight: 550;
        color: #102A43;
    }


}

.cat_button:active{
    
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

