.footer-section{
    height: 60vh;
    position: relative;
    font-family: futura-pt, sans-serif;



    background:linear-gradient(180deg,#292929,transparent 100%);
    //background:linear-gradient(20deg,#505050,transparent 10%);
    
      background-color: #181818;
      color:#ffffff;
}
.footer_three_sections{
    padding:40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.footer_two_group{
    display: flex;
    flex-direction: row;
    ul{
        padding-top: 10px;
    }
    li{
        padding-top: 5px;
        font-weight: 550;
        font-style: italic;

    }
    h5{
        font-size: 16px;
        font-style: italic;

    }
    
}
.footer_resource{
    margin: 0 20px 0 0;
   
}
.footer_contact{
    margin: 0 0 0 20px;

}
.footer_special{
   // margin-top: 0px;
    .aws-btn {
        --button-default-height: 46px;
       // --button-default-font-size: 24px;
        --button-default-border-radius: 30px;
        --button-horizontal-padding: 13px;
        --button-raise-level: 6px;
        --button-hover-pressure: 1.25;
        --transform-speed: 0.15s;
        --button-primary-color: #0AA558;
        --button-primary-color-dark: #005508;
        --button-primary-color-light: #000000;
        --button-primary-color-hover: #009b4e;
        --button-primary-color-active: #009b4e;
        --button-primary-border: 1px solid transparent;
    }
}
.footer_title{
    display: flex;
    flex-direction: row;
    h3{
        color: #ffc80f;
    }
    h4{
        font-style: italic;
    }
}