.gmap_section{
    height: auto;
    background-color: #D9E2EC;
    position: relative;
//padding-top:40px;
z-index: 2;
}
.gmap_map{
    height: 60vh;

}
.maps_content{
    //text-align: left;
    height: 60vh;
    display: flex;
    justify-content: flex-end;
   
    //align-items: center;
    //margin-left: 90px;
    //margin-top: 20px;
    //margin-left: 90px;
    h2{
        font-size: 36px;
        padding-left: 10px;
    }

    
}
.gmap_hours{
    display: flex;
   // align-items: center;
   flex-direction: column;
   justify-content: center;
   margin-right: 90px;
   width:40%;
   ul{
  
   // flex-direction: column;
          li{
            display: flex;
    align-items: center;
    padding-top: 12px;
    font-size: 16px;
          }
      } 
   h1{
       font-size:24px;
       padding-bottom:12px;
       font-style: italic;
   }
}