.gmap_section{
    height: auto;
    background-color: rgb(229, 229, 231);
    position: relative;

}
.gmap_map{
    height: 60vh;
}
.maps_content{
    text-align: left;
    margin-left: 90px;
}
.gmap_wrapper{
   
}