.login{
    background-color:  #D9E2EC;
    height:90vh;
    width:100%;
}
.login_form{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;

    margin: 0 auto;
    align-items: center;
    justify-content: center;
   // padding-top:90px;
   // margin-bottom: 20px;
    h1{
        font-size: 24px;
        font-weight: 550;
        font-style: italic;
        color: #102A43;
       // padding-bottom: 12px;
    }
    p{
        font-size: 16px;
      //  padding-top:3px;
        color: #243B53;
    }
}
.login_wrapper{
    background-color: #F0F4F8;
    flex-direction: column;
    display: flex;
    padding:20px 24px;
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

p{
    font-size: 16px;
        padding-top:12px;
    padding-bottom: 6px;
    color: #102A43;
}
a{

    color:#3525E6;
    font-weight: 500;
}
.login_redirect{
    display: flex;
    flex-direction:column;
    align-items: center;
}

    input{
        font-size: 16px;
        background-color:  #BCCCDC;
        border:none;
        box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
        border-radius: 5px;
        padding: 6px 3px;
        color: #102A43;
    
    
    }
    label{
        font-size:16px;
        font-weight: 500;
        padding-top:12px;
        padding-bottom: 6px;
        color: #102A43;
    }
    .login_btn{
        margin-top:20px;
        padding: 12px 16px;
        font-size: 16px;
        border:none;
        background-color: #1D0EBE;
        color:#F0F4F8;
        border-radius: 10px;
        font-weight: 550;
        font-style: italic;
    }
}
.signup{
    background-color:  #D9E2EC;
    height:90vh;
    width:100%;
}
.signup_form{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;

    margin: 0 auto;
    align-items: center;
    justify-content: center;
   // padding-top:90px;
   // margin-bottom: 20px;
    h1{
        font-size: 24px;
        font-weight: 550;
        font-style: italic;
        color: #102A43;
       // padding-bottom: 12px;
    }
    p{
        font-size: 16px;
      //  padding-top:3px;
        color: #243B53;
    }
    input{
        font-size: 16px;
        background-color:  #BCCCDC;
        border:none;
        box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
        border-radius: 5px;
        padding: 6px 3px;
        color: #102A43;
    
    
    }
    label{
        font-size:16px;
        font-weight: 500;
        padding-top:12px;
        padding-bottom: 6px;
        color: #102A43;
    }
    .signup_btn{
        margin-top:20px;
        padding: 12px 16px;
        font-size: 16px;
        border:none;
        background-color: #1D0EBE;
        color:#F0F4F8;
        border-radius: 10px;
        font-weight: 550;
        font-style: italic;
    }
}
.signup_wrapper{
    background-color: #F0F4F8;
    flex-direction: column;
    display: flex;
    padding:20px 24px;
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.signup_redirect{
    padding-top:12px;
    display: flex;
    flex-direction:column;
    align-items: center;
}
.error{
    color: red;
    font-size: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
}
.login_button{
    margin:12px;
    background-color: #1D0EBE;
    color:#F0F4F8;
    border-radius: 10px;
    font-weight: 550;
    border: none;
    font-size: 16px;
    padding: 8px 12px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

}
.login_button:active{
    box-shadow: none;
    transition: 0.3s;
}
.signup_sidebar{
    font-size: 16px;
    font-weight: 550;
    padding: 8px 12px;
    background-color: #D9E2EC;
    border-radius: 10px;
    border: none;
    color: #1D0EBE;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

}
.signup_sidebar:active{
    box-shadow: none;
    transition: 0.3s;
}