

.navbar-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    h4{
        font-size: 24px;
        font-family: futura-pt, sans-serif;
        font-weight: 500;
        color: #ffc80f;
       // -webkit-text-stroke-width: .5px;
       // -webkit-text-stroke-color: #ffc80f;
    }
    p{
        font-family: futura-pt, sans-serif;
        font-weight: 550;
        font-style: italic;
        font-size: 24px;
        color: #F0F4F8;
       // -webkit-text-stroke-width: .5px;

        
    }
}
.icon_admin:hover{ 
    box-shadow: 0px 0px 0 #000 !important;
   
   // margin-right:-3px !important;
    //margin-bottom:-3px !important;
    transition: all .3s ease;

}
.icon_admin{
    position: relative;
}
.icon_menu:hover{
    box-shadow: 0px 0px 0 #000 !important;
   
   // margin-right:-3px !important;
   // margin-bottom:-3px !important;
    transition: all .3s ease;
}
.icon_menu{
    background-color: #fff;
}