.backdrop{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(16,42,67,0.4);
    backdrop-filter: saturate(100%) blur(10px);
    z-index: 1299;

}
.modal{
    max-width: 400px;
    margin:0 auto;
    padding: 35px 12px;
    background: #F0F4F8;
    text-align: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
    
    
    
    
    p{
    font-size: 16px;
    padding-top: 3px;
}
h1{
    font-size: 24px;
}


}



.modal_buttons{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top: 6px;
}

.age_btn{
    background-color:#18981D;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;


}
.age_btn:active{
    background-color:#18981D;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;


}