

.link-products{
    font-family: futura-pt, sans-serif;
    font-weight: 550;
}


//rgb(229, 229, 231)

//#f7f7f8

.product-section{
    height:auto;
   
    background-color: #f7f7f8;
    font-family: futura-pt, sans-serif;
    font-style: italic;
    position: relative;
    padding-top: 30px;
    width:100%;
    padding-bottom: 70px;
   
}

.products{
height: auto;
width: 100%;
.aws-btn {
    --button-default-height: 73px;
    --button-default-font-size: 14px;
    --button-default-border-radius: 30px;
    --button-horizontal-padding: 22px;
    --button-raise-level: 5px;
    --button-hover-pressure: 4;
    --transform-speed: 0.185s;
    --button-primary-color: #ffe727;
    --button-primary-color-dark: #141414;
    --button-primary-color-light: #fbfbfb;
    --button-primary-color-hover: #2d2d2d;
    --button-primary-color-active: #212121;
    --button-primary-border: 2px solid #3a3a3a;
    --button-secondary-color: rgb(251,239,16);
    --button-secondary-color-dark: #3a3a3a;
    --button-secondary-color-light: #3a3a3a;
    --button-secondary-color-hover: #FBC810;
    --button-secondary-color-active: #e2e2e2;
    --button-secondary-border: 2px solid #3a3a3a;
    --button-anchor-color: #ffe727;
    --button-anchor-color-dark: #212121;
    --button-anchor-color-light: #97735d;
    --button-anchor-color-hover: #ffe727;
    --button-anchor-color-active: rgb(251,239,16);
    --button-anchor-border: 2px solid #876753;
    --button-danger-color: #733086;
    --button-danger-color-dark: #431c4e;
    --button-danger-color-light: #77cd38;
    --button-danger-color-hover: #6d2d7e;
    --button-danger-color-active: #632973;
    --button-danger-border: none;
  }

.swiper {
   margin: 0 45px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

 
  .swiper-slide {
   // background-position: center;
   // background-size: contain;
   
    //width: 300px;
   // height: 300px;
    //border: solid 5px #000000;
    background-color: #Fff;
    //border: solid 3px #000000;
  }
  
  .swiper-slide img {
    //display: block;
    padding-top: 10px;
    width: 35%;
    height: auto;
  }
}

.pricebox{
    padding: 20px;
    height: auto;
 
    
     
      .swiper-box{
          h2{
              font-size: 29px !important;
              color:rgb(0, 150, 57);
              letter-spacing: 0.1px;
              font-weight: 600;
              font-style: italic;
              //text-align: center;
              -webkit-text-stroke-width: 1px;
              -webkit-text-stroke-color: #009B4E;
          }
          .swiper-content{
            padding-top: 0px;
           // padding-bottom: 20px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            
        }
        .swiper-price{
            display: flex;
            flex-direction: column;
            padding-top: 10px;
            padding-bottom: 0px;
           
        }
      }

}
.pricebox-strain{
    background-color: #D1D1D3;
    border-radius: 5px;
    width: 50px;
    height: auto;
   // margin: 0 auto;
    p{
        text-align: center;
    }
}
.userdata-title{
    box-shadow: 1px 3px 7px 2px rgba(57, 63, 72, 0.3);
    border-radius: 20px;
}
.pricebox-button{
    h3{
        font-style: italic;
    }
    margin-left: 130px;
    margin-top: 20px;
    .aws-btn {
        --button-default-height: 63px;
        --button-default-font-size: 18px;
        --button-default-border-radius: 30px;
        --button-horizontal-padding: 22px;
        --button-raise-level: 5px;
        --button-hover-pressure: 2;
        --transform-speed: 0.185s;
       
        --button-secondary-color: #fff;
        --button-secondary-color-dark: #3a3a3a;
        --button-secondary-color-light: #3a3a3a;
        --button-secondary-color-hover: #E5E5E7;
        --button-secondary-color-active: #e2e2e2;
        --button-secondary-border: 2px solid #3a3a3a;
   
      }
   // padding-bottom: 50px;
   //margin-top: -30px;
}