@media screen and (min-device-width: 768px)
and (max-device-width: 1024px) {

}
 
/* For Mobile Portrait View */
@media screen and (max-device-width: 480px)
and (orientation: portrait) {

}
 
/* For Mobile Landscape View */
@media screen and (max-device-width: 640px)
and (orientation: landscape) {

}
 
/* For Mobile Phones Portrait or Landscape View */
@media screen and (max-device-width: 640px) {
    .hero-section{
        height:55vh;
        width: 100%;
        h1{
        margin-left: 0px;
    }
    h2{
        margin-top:-1px;
    }
    }
.hero-image{
    background-position: -20px 80px;
    background-size: 450px;
}
.hero_btn{
bottom:58%;
white-space: nowrap;
right:15%;
}
.hero-slogans{
    z-index: 999;
    display:flex;
    flex-direction: column;
   // margin: 0 -80px;
  margin: 40px 30px;
  margin-left:20%;
    h1{
        font-size: 26px;
    }
    h2{
        font-size:22px;
    }
    h3{
        font-size: 18px;
    }
    .aws-btn {
        --button-default-height: 56px;
        --button-horizontal-padding: 23px;
         }
}
.hero_main_text{
    right:20%;
    top:18%;
}
.hero_type{
    top:15%;
}



 .banner-wrap{
   // height: 45vh;
 width:100%;
 display: flex;
 background-position: 0px 50px;
 justify-content: center;
 right:90px;
  
}
.banner_img{
   // background-position: 0px 50px !important;
   // background-size: cover;
   left:80%;
   img{
      // width:220px !important;
   }
}
.banner{
  // margin:0 20px;
   // padding-bottom: 10px !important;
   //justify-content: center;
  // display:flex;
  // margin: 0px 30px; 
  padding: 30px;
  margin: 0 auto;
  right:8%;
  //text-align: center;
 // width:100%;
 //left: 13%;

    h3{
        font-size: 26px;
        justify-content: center;
        padding: 0px 10px !important;
    }
    p{
        font-size: 18px;
        padding-left: 0px !important ;
    //margin: 10px;
        font-weight: 550;
        //text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
    }
}
 .banner-button{
    margin-left: 10px !important;
    margin-top:20px !important;
    margin-bottom: 20px;
     .aws-btn {
    --button-default-height: 56px;
    --button-horizontal-padding: 23px;
    margin-left: 0px !important;
    
     }
}
.steps_wrapper{
    justify-content: center;
    flex-direction: column;
    img{
        height:auto;
    }
}
.products{
    .swiper{
        margin:0 30px!important;
        padding: 5px 5px;
    }
    .swiper-slide{
        //width: 200px !important;
       // width:290px !important;
       
    }
}
.pricebox-button{
   margin: 20px 40px;
}
.category_list{
    display: flex;
   // flex-direction: column;
    margin: 0 ;
}
.radio_group_icons{
    //flex-direction: column !important;
justify-content: center;
}
.cat_swiper{
    margin: 0 30px;
}
.all_ads{
    flex-direction: column;
}
.ads_one{
    height:30vh;
}
.ads_two{
    height: 30vh;
    .aws-btn {
        --button-default-height: 56px;
        --button-horizontal-padding: 23px;
         }
}
.ads_two_button{
    right:30%;
    top:70%;
}
.footer_three_sections{
    flex-direction: column;
}
.footer-section{
    height:80vh !important;
    padding-bottom: 90px;
}
.footer_special{
    padding: 20px 0;
}
.footer_two_group{
    padding-top:30px;
}
.bye_wrapper{
    width:330px;
    //justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    h1{
        font-size: 18px !important;
    }
}
.bye_banner_button{
white-space: nowrap;
}
}
