@media screen and (min-device-width: 768px)
and (max-device-width: 1024px) {

}
 
/* For Mobile Portrait View */
@media screen and (max-device-width: 480px)
and (orientation: portrait) {

}
 
/* For Mobile Landscape View */
@media screen and (max-device-width: 640px)
and (orientation: landscape) {

}
 
/* For Mobile Phones Portrait or Landscape View */
@media screen and (max-device-width: 640px) {
    .hero-section{
        height:55vh;
        width: 100%;
        h1{
        margin-left: 0px;
    }
    h2{
        margin-top:-1px;
    }
    }
.hero-image{
    background-position: -30px 100px;
    background-size: 450px;
    width:100% !important;
}
.hero_btn{
bottom:58%;
white-space: nowrap;
right:21%;
}
.hero-slogans{
    z-index: 999;
    display:flex;
    justify-content: center;
    flex-direction: column;
   // margin: 0 -80px;
  margin: 40px 30px;
  margin-left:20%;
    h1{
        font-size: 26px;
    }
    h2{
        font-size:22px;
    }
    h3{
        font-size: 18px;
    }
    .aws-btn {
        --button-default-height: 56px;
        --button-horizontal-padding: 23px;
         }
}
.hero_main_text{
    right:23%;
    top:13%;
}
.hero_type{
    top:22%;
    left: 35%;
}



 .banner-wrap{
   // height: 45vh;
 width:100%;
 display: flex;
 background-position: 0px 50px;
 justify-content: center;
 right:90px;
  
}
.banner_img{
   // background-position: 0px 50px !important;
   // background-size: cover;
   bottom: 40% !important;
   left:80%;
   img{
      // width:220px !important;
      width: 120px !important;
   }
}
.banner{
  // margin:0 20px;
   // padding-bottom: 10px !important;
   //justify-content: center;
   display:flex;
  // margin: 0px 30px; 
  padding: 20px;
  margin: 0 auto !important;
  right:7% !important;

  //text-align: center;
 // width:100%;
 //left: 13%;

    h3{
        font-size: 20px;
        //justify-content: center;
        //padding: 0px 10px !important;
    }
    p{
        font-size: 16px;
        padding-left: 0px !important ;
    //margin: 10px;
        font-weight: 500;
        //text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
    }
    h2{
        font-size: 20px !important;
       
        //padding: 0px 10px !important;
    }
}
 .banner-button{
    //margin-left: 10px !important;
    margin-top:20px !important;
    margin-bottom: 20px;
    justify-content: flex-start !important;
 
}
.steps_wrapper{
    justify-content: center;
    flex-direction: column;
    img{
        height:auto;
    }
}
.products{
    .swiper{
       // margin:0 30px!important;
       // padding: 5px 5px;
       width: 100%;
    }
    .swiper-slide{
        //width: 200px !important;
       // width:290px !important;
       
    }
}
.pricebox-button{
   margin: 20px 40px;
}
.category_list{
    display: flex;
   // flex-direction: column;
    margin: 0 ;
}
.radio_group_icons{
    //flex-direction: column !important;
justify-content: center;
}
.cat_swiper{
    margin: 0 auto;
    border-radius: 5px;
}
.all_ads{
    flex-direction: column;
}
.ads_one{
    height:30vh;
}
.ads_two{
    height: 30vh;

}
.ads_two_button{
    right:5%;
    top:40%;
}
.footer_three_sections{
    flex-direction: column;
    padding:30px !important;
}
.footer-section{
    height:80vh !important;
    padding-bottom: 90px;
}
.footer_special{
    padding: 20px 0;
}
.footer_two_group{
    padding-top:30px;
}
.bye_wrapper{
    width:330px;
    //justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    h1{
        font-size: 18px !important;
    }
}
.bye_banner_button{
white-space: nowrap;
}

.product_filter{
    margin-left:0px;
}
.product_filter2{

    
   display: flex;
   flex-direction: column;
   align-items: flex-end;
}

.checkout-item{
  display: flex;
  flex-direction: column;
}
.checkout__left{
    display: flex;
    
}
.edibles_radio{
    margin-top:12px;
}
.concentrates_radio{
    margin-top:12px;
}
.modal{
    margin: 0 30px !important;
    //max-width: 300px ;
}
.form_box{
  width:90% !important ;
  display: flex !important;
  justify-content: center !important;
  margin: 0 auto !important;
    max-width: 300px !important;
    align-items: center !important;
    min-width: 200px !important;
    margin-bottom: 60px  !important;
}
.reviews-section{
    height:auto !important;
}
.q-a{
    min-height: 20vh !important;
}
.pricetest_box{
    margin: 30px 12px !important;
}
.data_name{
    padding-right:12px !important;
}
.data_number{
    padding: 0 12px !important;

}
.admin_email{
    padding: 0 12px !important;
}
.product_modal{
    height:80% !important;
    overflow-y: scroll !important;
    padding-top: 60px !important;
}
.modal_two{
    width: 100% !important;
    flex-direction: column !important;
}
.phone_email{
    flex-direction: column !important;
}
.zip_county{
    flex-direction: column !important;
}
.date_time{
    flex-direction: column !important;
}
.phone_padding{
    padding-bottom: 12px !important;
}
.zip_padding{
    padding-bottom: 12px !important;
}
.date_padding{
    padding-bottom: 12px !important;
}
}