
.steps_section{
  background-color: #F0F4F8;
        position:relative;
    height:auto;
    //margin:0 auto;
    width: 100%;
    display: flex;

    flex-direction: column;
   // margin-top: -20px;
   // padding-top:100px;
    //padding: 40px 0px;
   // border-radius: 300px;
   // margin-top: -28%;
    z-index: 2;
    //box-shadow: 0 10px 50px 0 rgb(63 2 176 / 25%);
    color:#000;
    h3{
        //padding-bottom: 12px;
        font-size: 24px !important;
        color:#102A43;
    }
    p{
        text-align: left;
        font-style: normal;
        color:#102A43;
        font-size: 16px;
    }
    h5{
        color:#000000;
     
        font-size: 16px;
        padding-left: 0px;
       // text-decoration: underline;
        //text-decoration-color: #FF1947;
    
    }

}
// box-shadow: 0 10px 50px 0 rgb(63 2 176 / 25%);
//rgb(229, 229, 231)
.step_one{
    //height:30vh;
    max-width: 450px;
    //padding: 40px 40px 40px 40px;
   // border-radius: 30px;
   // padding-right:30px;
   // border: solid 3px #000;
  //padding:20px;
  //box-shadow: 5px 5px 0 #000;
    //margin: 40px;
    padding-bottom:30px;
}
//#47FF0F
//#FFD219
.step_two{
   // height:30vh;
//    //width: 20vh;
    //padding: 40px 40px 40px 40px;
    //margin: 40px;
//padding-right: 60px;
   // border-radius: 30px;
    max-width: 450px;
    //padding:20px;
    //border: solid 3px #000;
   // box-shadow: 5px 5px 0 #000;
   padding-bottom:30px;
}
.step_three{
   // height:30vh;
    //width: 20vh;
    //border: solid 3px #000;
   // box-shadow: 5px 5px 0 #000;
   // padding: 40px 40px 40px 40px;
   // margin: 40px 0px 40px 40px;
    border-radius: 30px;
    max-width: 450px;
   //padding:20px;
   //padding-bottom:36px;
}
.steps_title{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-style: italic;
    padding-bottom: 20px;
    font-weight: 700;
    h2{
    color:#000000;
    font-size: 34px;
    white-space: nowrap;
}
h1{
   
    font-size: 41px;
}
.easy_steps{
    display: flex;
    flex-direction: row;
   // padding-left: 10px;
    align-items: center;

    h4{
        padding-right: 8px;
        font-size: 18px;
    
        //padding-bottom: 9px;
    }
}

 


    //margin-left: 20px;
}
.steps_wrap{
    display: flex;
    flex-direction: column;
    //justify-content: space-evenly;
    //margin-right: auto;
    //align-items: center;
   // margin-top: 100px;
   // padding-top: 23%;    
    padding-bottom: 0px;
   //margin-left:65px;
   // margin-right:auto;
  //width: 100%;
}
.steps_wrapper{
   // margin: 0 90px;
   display: flex;
   // width: 100%;
    //align-items: center;
   justify-content: space-around;
   margin: 0 30px;
   align-items: center;
  // margin-left: 120px;
   //margin-right: 80px;
   // flex-direction: row !important;
   img{
       height: 350px;
       width: auto;
   }
}
.icon_button{
    box-shadow: 5px 5px 0px #000000;
    //margin-bottom: 10px;
}
.steps_icon{
    display: flex;
    //align-items: center;
}

      .steps_skeleton{
        width: 100%;
        height: auto;
        background-color: #fff;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 60px 0px;
        z-index: 999;
      }