.terms_section{
    background-color: #F7F7F8;
    position: relative;
    padding-top: 100px;
    height:auto;
}
.terms_chunk{
    height: auto;
   width:60%;
    margin: 0 auto;
    h3{
        padding-top:20px;
        padding-bottom: 12px;
    }
}